header{
    height: 100vh;
    width: 100%;
z-index: 1;
position: relative;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-item{
        color: #EBEBEB;
        font-size: .95rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
}

.main-text{
    position: absolute;
    font-size: 6rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: 'Purple Purse', cursive;
    
}
.resmi-websitesi{
    font-family: 'Qwigley', cursive;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.main-explanation{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 1.4rem;
}

.background-img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/mainPage.jpg);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0,0,0,0.4);
    filter: blur(3px);
    opacity: 0.9;
}

.section-seflerimiz{
    height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 5%;

}
.seflerimiz-content{
    align-self: center;
    text-align: center;
    grid-column: 2/3;
}
.section-tag{
    align-self: center;
    text-align: center;
    grid-column: 2/3;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
.chef-links{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chef-item{
    font-size: 1.2rem;
    color: black;
    font-family: 'Rancho', cursive;

    &:hover{
        text-decoration:underline;
        color: #E26340;
    }
}

.section-yarismacilar{
    height: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;

    .yarismacilar-content{
        padding-top: 50px;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 50px;
        row-gap: 50px;

        .card{
            border: none;
            justify-self: center;
            align-self: center;
            align-content: center;
            width: 220px;

            .card-name{
                margin-top: 10px;
                text-align: center;
                font-size: 1.1rem;
                color: black;
                font-family: 'Rancho', cursive;
            }
        }

        
    }
}

.daha-fazla-gor{
    height: 100px;
    font-size: 1rem;
    color: black;
    font-family: 'Rancho', cursive;
    grid-column: 2/3;
    text-align: center;
    padding: auto;

    &:hover{
        text-decoration:underline;
    }
}


.section-yemek-tarifleri{
    height: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;

    .yemek-tarifleri-content{
        padding-top: 70px;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 50px;
        text-align: center;
        row-gap: 50px;

        .card-up-l{
            color: black;
            padding-bottom:10px;
            border: black 1px solid;
            width: min-content;
            justify-self: center;
            align-self: center;
            grid-column: 1/4;
            overflow: hidden;

            img{
                transition: transform .5s ease-in-out;
            }

            h4,p{
                color: black;
            }

            &:hover{
                img{
                    background-size: inherit;
                    transform: scale(1.7) rotate(25deg);
                }
            }
        }
        .card-image-up{
            overflow: hidden;
        }
        .card-up-r{
            padding-bottom:10px;
            border: black 1px solid;
            width: min-content;
            justify-self: center;
            align-self: center;
            grid-column: 4/7;
            overflow: hidden;
            img{
                transition: transform .5s ease-in-out;
            }

            h4,p{
                color: black;
            }

            &:hover{
                img{
                    background-size: inherit;
                    transform: scale(1.7) rotate(25deg);
                }
            }
            
            
        }
        .yemek-name{
            padding-top: 15px;
            font-size: 1.4rem;
        }
        .yemek-explanation{
            text-align: center;
            font-size: 1rem;
            max-width: 90%;
            margin: auto;
        }

        .card-down{
            justify-self: center;
            align-self: flex-start;
            padding-bottom:10px;
            border: black 1px solid;
            height: 382px;
            width: min-content;
            grid-column: span 2;
            img{
                transition: transform .5s ease-in-out;
            }

            h5,p{
                color: black;
            }

            &:hover{
                img{
                    background-size: inherit;
                    transform: scale(1.7) rotate(25deg);
                }
            }
        }

        .card-image-down{
            overflow: hidden;
        }
    }

}


.section-master{
    img{
        height: 350px;
        width: 100%;
    }
}

.section-footer{
    background-color: #E26340;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    font-family: 'Poppins', sans-serif;

    .service{
        padding-top: 20px;
        align-self: flex-start;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        a{
            padding-bottom: 13px;
            color: white;
            font-size: 1rem;

            &:hover{
                color: black;
            }
        }
    }
    .service-active{
        font-size: 1.6rem;
        color: white;
        font-weight: bold;
    }

    .social-media{
        padding-top: 20px;
        align-self: flex-start;
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        a{
            padding-bottom: 20px;
            color: white;
            font-size: 1rem;

            &:hover{
                color: black;
            }
        }
    }

    .subscribe{
        color: white;
        padding-top: 20px;
        grid-column: 5/6;

        .keep-in-touch{
            font-size: 2rem;
            font-weight: bold;
        }

        .keep-ex{
            font-size: .8rem;
        }
        form{
            align-self: flex-start;
            display: flex;
            justify-content: left;
            
        }
        .input-footer{
            border: 1px solid white;
            border-right: none;
            background-color: #E26340;
            outline: none;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            height: 50px;
            font-size: 1.1rem;
            width: 250px;
            color: white;
        }
        .label-footer{
            background-color: white;
            color: black;
            font-size: 1.1rem;
            font-weight: bold;
            z-index: 2;
            height: 50px;
            width: 120px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
            border: none;
            outline: none;
            &:hover{
                color: #E26340;
            }
        }
    }

    
}